{% extends "index.html" %}

{% block title %} History | {{ request.user }} {% endblock %}

{% block content %}


<h2 class="center">Analysis</h2>
<div class="row">
	<div class="col s12 m10 l10 offset-l1 offset-m1">
		<div id="barchart_values" data-actionurl="{% url 'tasks:get_analysis_data' %}"></div>
	</div>
</div>
{% endblock %}

{% block extra_scripts %}

<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var jsonData = $.ajax({
      url: $('#barchart_values').attr('data-actionurl'),
      dataType: "json",
      async: false
    }).responseText;
    var options = {
      title: "% of days task accomplished",
      legend: { position: 'none' }
    };
    var data = new google.visualization.DataTable(jsonData);

    var chart = new google.visualization.BarChart(document.getElementById('barchart_values'));
    chart.draw(data, options);
  }
</script>

{% endblock %}

