{% extends "index.html" %}

{% block title %} History | {{ request.user }} {% endblock %}

{% block content %}


<h2 class="center">Analysis</h2>
<div class="row">
	<div class="col s12 m10 l10 offset-l1 offset-m1">
		<div id="analysis_values" data-actionurl="{% url 'tasks:get_analysis_data' %}">
      {% for data in user_data %}
        <div class="row">
          <div class="col s5">
            <b>{{ data.name }}</b>
          </div>
          <div class="col s1">
            {{ data.percent_completed|floatformat:2 }} %
          </div>
          <div class="col s6">
            <div class="progress right">
              <div class="determinate {{ data.color }}" style="width: {{ data.percent_completed }}%"></div>
            </div>    
          </div>
        </div>
        <br>
        <br>
      {% endfor %}
    </div>
	</div>
</div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}

